<section (click)="closeModal()" class="modal">
	<div class="modal-content install-container" (click)="stopPropagation($event)">
		<p class="close" (click)="closeModal()" >&times;</p>

		<div class="install-text">
			<h2>Cannot Detect Note-Modules Backend!</h2>
			<p>If you have not installed the Note modules backend please visit <a href="https://github.com/DavidPeet8/Note-Modules">Note Modules On Github</a> and follow the steps on the readme.<br>
				If you have the backend installed please ensure the backend server has been started. If this still fails, please email me at <a href="mailto:dapeet@uwaterloo.ca">dapeet@uwaterloo.ca</a></p>
				<br>
			<p><strong>At the moment this repository private, but it will be made available for download shortly.</strong></p>
		</div>
	</div>
</section>