<section (window:resize)="setMaxHeight()" class="editor" #editor>
	<div class="main-flex">
		<div class="dirtree-wrapper" #dirSection>
			<div class="dirtree-content">
				<app-search-bar (searchResultsChange)="onNewSearchResults($event)"></app-search-bar>
				<div *ngIf="!searchResults">
					<app-directory-tree *ngFor="let dir of dirlist" [fileDescriptor]="dir" [basePath]="''"></app-directory-tree>
				</div>
				<div *ngIf="searchResults">
					<app-directory-tree *ngFor="let file of searchResults" [fileDescriptor]="file" [basePath]="'build/.flat_notes'"></app-directory-tree>
				</div>
			</div>
			<div draggable="true" (drag)="onDrag($event)" class="dirtree-sidebar" #resizeBar></div>
		</div>
		<div class="codeview" #codeSection>
			<router-outlet></router-outlet>
		</div>
	</div>
</section>
  