@import 'variables'

.dirtree-section
	padding: 20px
	background-color: $dark-grey
	height: 100%
	overflow: auto
	color: white

.icon
	display: inline-block

.file-name
	font-size: 14pt
	display: inline-block
	margin-left: 10px

.children-dropdown
	margin-left: 10px

