@import "mixins"

.dirtree-section
	padding: 20px

.icon
	flex-grow: 0
	flex-shrink: 0

.file-name
	@include scaleProp(margin-left, 10px, 10px, 15px, 15px, 20px)
	white-space: nowrap

.children-dropdown
	@include scaleProp(margin-left, 10px, 10px, 15px, 15px, 20px)

.file
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	flex-wrap: nowrap
	cursor: pointer

