<section (click)="closeModal()" class="modal" (keydown)="stopPropagation($event)">
	<div class="modal-content help-container">
		<p class="close" (click)="closeModal()" >&times;</p>

		<div class="help-text">
			<h2>Command Syntax:</h2>
			<ul>
				<li>[//]:# (include noteName1 noteName2 ...) --> Copy pastes the contents of another file inline</li>
				<li>[//]:#(link noteName) --> Links to another note</li>
				<li>[//]:#(nobuild) --> Prevents a note from showing in built filters</li>
			</ul>
		</div>
	</div>
</section>