<section class="viewport" [ngStyle]="getStyle()">
	<div class="header" [style]="headerStyle">
		<h1 class="center title">Note Modules</h1>
		<h4 class="sayhi">
			<i (click)="href('github', $event)" class="fab fa-github-square connect icon"></i> 
			<i (click)="href('linkedin', $event)" class="fab fa-linkedin connect icon"></i>
			<i (click)="href('website', $event)" class="fas fa-link connect icon"></i>
		</h4>
		<h4 class="settings">
			<i (click)="openSettingsModal()" class="fas fa-cog icon"></i> 
		</h4>
	</div>
	<div class="content">
		<app-render-parent></app-render-parent>
	</div>
  	<div class="footer center">
  		<h6 class="center">Powered with 🧻 by David Peet</h6>
  	</div>
</section>

<router-outlet></router-outlet>