@import "mixins"

.header
	padding: 20px
	@include gradient()
	width: 100%
	flex-grow: 0
	flex-shrink: 0
	height: 100px
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	align-items: center

.content
	flex-grow: 1
	flex-shrink: 1

.footer
	padding: 10px	
	@include gradient()
	font-size: 18pt
	flex-grow: 0
	flex-shrink: 0
	height: 50px
	width: 100%

.title
	font-family: 'Inter', sans-serif
	border: 0
	padding: 0
	margin: 0
	@include scaleProp(font-size, 20pt, 30pt, 40pt, 40pt, 40pt)

.viewport
	position: fixed
	top: 0
	left: 0
	display: flex
	flex-direction: column
	color: white
	height: 100%
	width: 100%
	overflow: hidden

.sayhi
	font-size: $iconFontSize
	line-height: 100%
	@include scaleProp(min-width, 90px, 90px,120px, 120px, 120px)
	align-self: flex-start

.icon
	@include scaleProp(font-size, 14pt, 14pt, 18pt, 20pt, 25pt)
	cursor: pointer
	vertical-align: middle

.connect
	@include scaleProp(margin-left, 10px, 10px, 15px, 15px, 15px)

.settings
	font-size: $iconFontSize
	line-height: 100%
	@include scaleProp(min-width, 90px, 90px,120px, 120px, 120px)
	align-self: flex-start

