/* You can add global styles to this file, and also import other style files */
*
	box-sizing: border-box
	padding: 0
	margin: 0
	font-family: 'Ubuntu Mono', monospace

/*---------------------------- MARKDOWN STYLING -----------------------------*/
h1
	font-size: 35pt
	border-bottom: 1px solid black
	padding: 10px
	margin-bottom: 20px

h2
	font-size: 25pt

p
	font-size: 14pt

ul
	font-size: 14pt