@import "mixins"

*
	box-sizing: border-box
	padding: 0
	margin: 0
	font-family: 'Ubuntu Mono', monospace
	@include scaleProp(font-size, 14pt, 14pt, 18pt, 18pt, 20pt)

html,body
	height: 100%
	width: 100%

::webkit-scrollbar-corner
	background: rgba(0,0,0,0)

::-webkit-scrollbar 
	width: $scrollbarWidth
	height: $scrollbarWidth

::-webkit-scrollbar-track 
	background: $dark-grey

::-webkit-scrollbar-thumb 
	background-color: $light-grey
	border-radius: 6px


/*---------------------------- MARKDOWN STYLING -----------------------------*/
h1
	border-bottom: 1px solid white
	padding: 10px
	margin-bottom: 20px
	@include scaleProp(font-size, 35pt, 40pt, 40pt, 45pt, 45pt)

h2
	@include scaleProp(font-size, 20pt, 25pt, 25pt, 30pt, 30pt)

ul
	list-style-position: inside

hr
	margin-top: 30px
	margin-bottom: 30px

blockquote
	border-left: 3px solid $light-grey
	padding-left: 12px
	color: $light-grey

a
	color: $link-color

code
	border-radius: 5px
	padding: 5px
	margin: 5px 
	background-color: $light-grey
	color: #F73969

table 
	border-collapse: collapse
	table-layout: fixed
	margin: 25px auto

th
	text-align: center

th,td
	padding: 10px

// tbody tr:nth-child(even) 
// 	background-color: $light-grey

// tbody tr:nth-child(odd)
// 	background-color: $mid-grey

table td 
  border: 1px solid $light-grey

table tr:first-child td 
  border-top: 0

table tr td:first-child 
  border-left: 0

table tr:last-child td 
  border-bottom: 0

table tr td:last-child 
  border-right: 0


.hidden
	display: none

.show 
	display: block	

.center
	text-align: center