<section class="codeview" #codeview>
	<div #content>
		<!-- Must include http:// -->
		<!--src attribute infers that the entire file is a code file and is not present in the markdown-->
		<markdown (ready)="setOverscroll()" [src]="getCode()" katex></markdown>
		<markdown ngPreserveWhitespaces katex>
			# SHit

			so this was entirely supposed to be code tho
			{{ '>' }} Blockquote?

			[I'm an inline-style link](https://www.google.com)
			[I'm a reference-style link][Arbitrary case-insensitive reference text]
			[I'm a relative reference to a repository file](../blob/master/LICENSE)
			linkme: <https://www.google.com>
			```javascript
			function main() {{ '{' }}
				if (the things):
					a = $ 2^n $;
			{{ '}' }}
			```

			Markdown | Less | Pretty
			--- | --- | ---
			*Still* | `renders` | **nicely**
			1 | 2 | 3

			---

			`mycode`
		</markdown>
	</div>
	<!-- https://www.npmjs.com/package/ngx-markdown#installation -->
</section>
